

body{
    margin: 0;
    padding: 0;
    font-family: "Gabarito", sans-serif;
    background-color: #EEF7FF;
}


/*-----------Navbar----------------*/


.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;  
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #EEF7FF ;
}

.Nav_items{
    list-style: none;
    display: flex;
    gap: 30px;    
}
.Nav_items li a{
    padding: 10px;
    text-decoration: none;
    color: black;
}

.Nav_items li a:hover{
    background-color: #3B62FF;
    color: white;
    border-radius: 3px;
}
.toggle{
 display: none;
}


/*-------------------Hero Section------------*/

#particles-js{
    background-color: #021d8b;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hero{
    color: white;
    position: relative;
}
.Hero-items{
    position: absolute;
    left: 20%;
}

.Hero-items h1{
    font-size: 4rem;
    margin: 0;
    padding: 0;
    font-family: "Gabarito", sans-serif;
}





/*--------------About Section ------------*/

.About{
    padding: 50px 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.About h1{
    color: #2759ff ;
    text-align: center;
}
.About p{
    width: 70%;
    font-weight: 200;
    text-align: justify;
    font-size: 18px;
}
.explore{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    
}

.fa-github{
    font-size: 40px;
    color: black;

}
.fa-linkedin{
    font-size: 40px;
    background-color:  white;
    color: #3B62FF ;
}

/*------------Skills----------*/


.Skills{
    /* background-color: #fcfce4; */
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 70px 0px;
    flex-wrap: wrap;
}
.title-skill{
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.skill-block{
    /* border: 1px solid black;
    width: 60%; */
    background-color: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 3px;
}
.skill-block h1{
    text-align: center;
}
.frontend{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 1px solid red; */
    justify-items: center;
    padding: 30px;
}
.skill-item{
    /* border: 1px solid black; */
    padding: 10px;
    height: 80px;
    width: 80px;
}
.skill-item img{
    width: 100%;
}

.skill-item img:hover{
    scale: 1.2;
}
.backend{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    padding: 30px;
}


/*--------Projects Section-------*/

.projects{
    /* border: 2px solid blue; */
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.projects h1{
    text-align: center;
    font-size: 2rem;
}
.project-section{
    /* border: 1px solid black; */
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 20px;
    padding: 20px;
}
.project-item{
    width: 300px;
    /* border: 1px solid black; */
    padding: 20px;
}
.project-item:hover{
    box-shadow: rgba(50, 50, 105, 0.15) 1px 4px 5px 1px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 6px;
    
}

.project-item img{
    width: 100%;
    padding: 10px 0px;
}
.bb{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
.project-page{
    background-color: #3B62FF;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 3px;
    font-weight: bold;
}
.project-item button{
    border: none;
    background-color: transparent;

}
.project-item button a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.fa-globe{
    font-size: 20px;
    padding: 10px;
    color: black;
    
}


/*---------Contacts--------------*/

.contacts{
    background-color: #D1E9F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50PX 25px;
}

.contacts h1{
    font-size: 2rem;
}
.contacts div{
    /* border: 1px solid black; */
    padding: 10px;
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contacts input{
    outline: none;
    border: none;
    padding: 10px;
    width: 60%;
}

.contacts button{
    background-color: #3B62FF;
    color: white;
    border: none;
    padding: 10px 20px;
}



/*-------Responsive------------*/
@media screen and (max-width:800px){

    /*----toggle icon----*/
    .Nav_items{
        display: none;
    }
    
    .toggle{
        display: block;
        font-size: 20px;
    }

    /*-----Hero------*/
    #particles-js{
        height: 50vh;
    }
    .Hero-items h1{
        font-size: 35px;
    }
    .Hero-items h2{
        font-size: 20px;
    }
    /*----About----*/
    .About{
        padding: 30px 20px  50px;
    }
    .About h1{
        margin: 5px;
        font-weight: bold;
        width: 90%;
    }
    .About p{
        width: 90%;
        font-size: 13px;
        text-align: left;
    }
    .About h4{
        margin: 5px 0;
    }
    .explore{
        padding: 10px 0;
        justify-content: space-evenly;
    }
    
    .fa-github{
        font-size: 30px;
    }
    .fa-linkedin{
        font-size: 30px;
    }

    /*----Skills-----*/
    .Skills{
        padding: 50px 0;
    }
    .skill-block h1{
        font-size: 20px;
    }
    .frontend, .backend{
        padding: 20px;
    }
    .skill-item{
        /* border: 1px solid black; */
        padding: 10px;
        height: 50px;
        width: 50px;
    }

    /*-----Projects-----*/
    .projects{
        padding: 50px 0;
    }
    .project-section{
        /* border: 1px solid black; */
        width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-items: center;
        gap: 10px;
        padding: 10px;
    }
    .project-item{
        width: 250px;
        padding: 10px;
    }
    .project-item button a{
        font-size: 14px;
    }
    .fa-glob{
        font-size: 14px;
    }

    
}
